# Virtual environment
.venv/

# Data & cache
data/
*.csv
*.cache
*.json.dvc
*.lock

# DVC artifacts
*.dvc
dvc.lock

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Credentials
drive_creds.json
ledgerx-dvc-storage-*.json
client_secrets.json
