# Core
pandas
numpy
loguru

# OCR
pillow
pytesseract

# ML + Tuning
scikit-learn
xgboost
lightgbm
catboost
optuna

# Explainability
shap

# MLOps
mlflow
joblib

# Visualization
matplotlib

# Testing & Validation
pytest
great-expectations

# DVC
dvc
dvc[gdrive]

# Airflow (optional)
apache-airflow-providers-common-sql
apache-airflow-providers-postgres
